.blocker-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: repeat-x;
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/background.png');
    background-size: 100%;
}

.blocker-foreground-3 {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/foreground3.png');
    z-index:3;
   	background-repeat: repeat-x;
    background-position: 0px 0px;
    -webkit-animation: animatedBackground 80s linear infinite;
	animation: animatedBackground 50s linear infinite;
}

.blocker-foreground-2 {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/foreground2.png');
    z-index:4;
    background-position: 0px 0px;
    -webkit-animation: animatedBackground 60s linear infinite;
	animation: animatedBackground 30s linear infinite;
}

.blocker-foreground-1 {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/foreground1.png');
    z-index:5;
    background-position: 0px 0px;
    -webkit-animation: animatedBackground 30s linear infinite;
	animation: animatedBackground 10s linear infinite;
}

.snow-1 {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/snow1.gif');
    z-index:1;
    opacity: 0.2;
}

.snow-2 {
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/snow2.gif');
    z-index:2;
    opacity: 0.6;
}

.text-container {
    z-index:6;
}

@-webkit-keyframes animatedBackground{
	from { background-position: 0 0; }
	to { background-position: -1287px 0; }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -1287px 0; }
}

.hide {
    display: none;
}